* {
    border: 1px black solid;
    /* box-sizing: border-box; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* width: 700px; */
    justify-content: center;
    align-self: center;    
}

.panel {
    width: 700px;
    padding: 0.5em 0;
    display: flex;
    justify-content: space-around;
}

.slider {
    display: flex;
    gap: 5px;
}

.grid {
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.box {
    box-sizing: border-box;
    /* height: calc(700px/8);
    width: calc(700px/8); */
    /* border-radius: 0.5em; */
    background-color: rgb(233, 233, 233);
}

.box.active{
    background-color: blueviolet;
}